<div class="container">
  <div class="onboarding-heading text-center">
    <h1 class="onboarding-title">Your goals</h1>
    <p class="onboarding-description">
      What can we do for you?
    </p>
  </div>

  <%#= Avatar form %>
  <div class="row">
    <div class="col-xs-12">
      <%= simple_form_for(@user, url: onboarding_goal_path(@user)) do |f| %>
        <div id="goals-checkboxes">
          <div class="input-checkbox-wrapper">

            <%= f.collection_check_boxes :goal_list,
              Goal.all.pluck(:id, :title), :last, :last, class: "hello"
                %>
          </div>
        </div>
        <%= f.input :goal_description,
                    label: false,
                    input_html: {
                      value: f.object.location,
                      placeholder: "Add a goal description",
                      class: "goal-in"
                    }
        %>
        <div>
          <%= f.submit "Start Matching" %>
        </div>
      <% end %>
      <%= link_to "back to skills", onboarding_skills_path, class: "onboarding-link" %>

    </div>
  </div>
</div>
