<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <div class="chat-header"><h4>Time to create</h4></div>
      <div class="messages">

        <% @chatroom.messages.each do |message| %>
          <%= render "messages/message", message: message, user_is_messages_author: message.user == current_user, user: @user %>
        <% end %>
      </div>

      <div id="create-message">
        <%= simple_form_for [ @chatroom, Message.new ], html: {autocomplete: "off" }, remote: true do |f| %>
          <%= f.input :content, label: false %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% content_for :after_js do %>
    <script>
    App['chatroom_<%= @chatroom.id %>'] =
    App.cable.subscriptions.create(
      { channel: 'ChatroomsChannel',
       chatroom_id: <%= @chatroom.id %> },
      {
        received: (data) => {
            var messagesContainer = document.querySelector('.messages');
            messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
            scrollLastMessageIntoView();
            var messageContent = document.querySelector('.message_content textarea');
            messageContent.value = ""
        }
       }

      )
              // if (data.current_user_id !== <%= current_user.id %>) {
          //   var messagesContainer = document.querySelector('.messages');
          //   messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
          //   scrollLastMessageIntoView();
  </script>
<% end %>
