
<!-- profil banner with user photo(user.photo_url) and short bio (@user.description) -->
<div class="profil_container">


    <div class="user-banner", style="background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0)), url('<%= user.photo&.url %>');">
            <div class="user-banner-title-profil"><%= user.first_name %></div>
    </div>

 <div class="user-profil-info">
    <div class="user-profil-box">
      <div class="user-row-profil">
        <i class="fas fa-warehouse fa-size-profil"></i>
        <div class="user-size-profil"><%= user.industry %></div>
      </div>

      <div class="user-row-profil">
        <i class="fas fa-puzzle-piece fa-size-profil"></i>
        <div class="user-size-profil"><%= user.title %></div>
      </div>

      <div class="user-row-profil">
        <i class="fas fa-map-marker-alt fa-size-profil"></i>
        <div class="user-size-profil"><%= user.location %></div>
        </div>
      </div>
    </div>
</div>






