
<!-- profil banner with user photo(user.photo_url) and short bio (@user.description) -->
<div class="profil_container">

  <div class="top-banner">
    <div class="user-title">
      <h4> Product Designer</h4>
    </div>
  </div>
  <%= image_tag user.photo_url, class: "user-photo" %>

  <div class="bottom-banner">

    <div class="user-des">

      <h1> <%= user.description %></h1>

    </div>
  </div>

  <div>
    <%= form_for(@like) do |f| %>
      <%= f.text_field :receiver_id, value: @user.id, type: :hidden %>
      <%= f.submit "Like" %>
    <% end %>

    |

    <%= link_to "Back", "#" %>

    |

    <% if @user.liked_users.exists?(current_user.id) %>
      HE LIKES US
    <% end %>
  </div>
</div>


<hr>



