
<!-- profil banner with user photo(user.photo_url) and short bio (@user.description) -->
<div class="profil_container">

  <div class="top-banner">
    <div class="user-title">
      <h4><%= user.title %></h4>
    </div>
  </div>
  <%= image_tag user.photo_url , class: "user-photo" if user.photo_url %>

  <div class="bottom-banner">

    <div class="user-des">
      <h1> <%= user.description %></h1>
    </div>


    <%#= Like button %>
    <div>
      <%= form_for(@like) do |f| %>
        <%= f.text_field :receiver_id, value: @user.id, type: :hidden %>
        <%= f.button "Is it your match?", class: "btn btn-primary gradient" %>
      <% end %>
    </div>

  </div>
</div>


<hr>



