<div class="user-card-index hidden" data-user-id="<%= user.id %>">
  <div class="user-card-container">
    <%= link_to user_path(user) do %>
      <div class="user-banner" style="background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0)), url('<%= user.photo&.url %>');">
          <h1 class="user-banner-title"><%= user.first_name %></h1>
      </div>
    <% end %>
  <div class="index__card_content_wrap">
    <div class="user-index-info">
      <div class="user-index-box">

        <div class="user-row">
          <i class="fas fa-warehouse fa-size"></i>
          <div class="user-size"> <%= user.industry %></div>
        </div>

         <div class="user-row">
          <i class="fas fa-puzzle-piece fa-size"></i>
          <div class="user-size"><%= user.title %></div>
        </div>

      </div>
    </div>

    <div class="user-index-bio-box">
      <div class="user-index-bio">
        <%= user.description %>
      </div>
    </div>

    <div class="goal-index-title">
        Goals
      </div>
    <div class="container-goal-list">
      <% user.goal_list.each do |goal| %>
        <div class="button1">
          <p> <%= goal %> </p>
        </div>
      <% end %>
    </div>
  </div>
</div>

  <div class="match-container">
    <%= link_to "#", class: "disliker" do  %>
      <i class="fas fa-times fa-2x" style= ></i>
    <% end %>

    <%= form_for(Like.new) do |f| %>
      <%= f.text_field :receiver_id, value: user.id, type: :hidden %>
      <%= f.button class: "liker" do %>
        <i class="fas fa-check fa-2x" ></i>
      <% end %>
    <% end %>
  </div>
</div>
