<div class="match-card">

  <div class="match-card__heading">
    It´s a creators match!
  </div>

  <div class="match-card__users">
     <div class="match-card__user">
        <div class="match-card__image-wrapper" style="background-image: url(<%= user.photo.url %>)">
        </div>

        <div class="match-card__user-name">
          <%= user.first_name %>
          <%= user.last_name %>,
        </div>

        <div class="match-card__user-title">
          <%= user.title %>
        </div>

     </div>

     <div class="match-card__user">
        <div class="match-card__image-wrapper match-card__image-wrapper--right" style="background-image: url(<%= user2.photo.url %>)">
        </div>

        <div class="match-card__user-name">
          <%= user2.first_name %>
          <%= user2.last_name %>,
        </div>

        <div class="match-card__user-title">
         <%= user2.title %>
        </div>
     </div>
  </div>

  <div class="mobile-fixed-bottom">
    <%= form_with url: match_chatrooms_path(@match), method: :post, local: true do |f| %>
      <%= f.submit "Start Chatting", class: "btn btn-primary btn-block gradient mobile-large"  %>
    <% end %>
    <%= link_to "Back to swiping", users_path, class: "btn btn-primary btn-block border mobile-large" %>
  </div>
</div>
