<%#= link_to match_chatrooms_path(@match.id), :method => "post" do %>

  <% @matches.each do |match| %>
<a class="match-index-card">


      <div class="match-index-card__image" style="background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url('<%= User.find(match.matcher_id).photo %>');">
      </div>
  <p class="match-index-card__message"></p>
  <%# unless %>

    <%= User.find(match.matcher_id).first_name %>
    <%= User.find(match.matcher_id).last_name %>
    <%= User.find(match.matcher_id).title %>

    <%# end %>


</a>
<% end %>
<%# end %>
<!--   <img src="<%= image_path "Andre.jpg" %>" alt="" class="match-index-card__image">
 -->
