<div class="banner" style="background-image: url('<%= image_path 'dosomethingreat.jpg' %>');">
  <div class="container">
    <div class="banner-content">
      <div class="row">
        <div class="col-md-12">
          <h2>Goals. Vision. Skills</h2>
          <h3>Match to create</h3>
        </div>
      </div>
      <%= link_to "Start Matching!",  new_user_registration_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
   <!--  <div class="landing-title">
      <h3>Creators cocreate in flow.</h3>
    </div> -->
    <div class="col-md-4">
      <div class="values">
        <h3>At a glance</h3>
        <p>Meet people for goals, skills and their portfolio</p>
        <%=image_tag("brainstorm1.png", class: "value_image")%>
      </div>
    </div>

    <div class="col-md-4">
      <div class="values">
        <h3>Creators Match</h3>
        <p>Meet opportunities, people and projects</p>
        <%=image_tag("rocket1.png", class: "value_image")%>
      </div>
    </div>

    <div class="col-md-4">
      <div class="values">
        <h3>Succeed</h3>
        <p>Win win is key in our community.</p>
        <%=image_tag("rocket1.png", class: "value_image")%>
      </div>
    </div>
  </div>
</div>

  <div class="home-container">
    <%=link_to "Try creatr now!",  new_user_session_path, class: "btn btn-primary"%>
  </div>

</div>
</div>
