<div class="container">
  <div class="onboarding-heading text-center">
    <h1 class="onboarding-title">Your Skills</h1>
    <p class="onboarding-description no-padding">
      Add skills to your profile :D
    </p>
  </div>

  <%#= Bio form %>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <%= simple_form_for(@user, url: onboarding_skill_path(@user)) do |f| %>
          <%= f.input :skill_list,
                    label: false,
                    input_html: {
                      value: f.object.skill_list.join(", "),
                      placeholder: "Tech, Startups...",
                      data: {
                        list: Skill.pluck(:title).join(","),
                        multiple: ""
                      }
                    }
        %>
          <p class="onboarding-description no-padding">
            Add links to your profile :D
          </p>

         <%= f.input :github_url,
                      as: :text,
                      label: "Github Url",
                      input_html: {
                        value: f.object.github_url,
                        placeholder: "Optional",
                    }
        %>
         <%= f.input :dribbble_url,
                      as: :text,
                      label: "Dribbble Url",
                      input_html: {
                        value: f.object.dribbble_url,
                        placeholder: "Optional",
                    }
        %>
        <%= f.input :linkedin_url,
                      as: :text,
                      label: "Linkedin Url",
                      input_html: {
                        value: f.object.linkedin_url,
                        placeholder: "Optional",
                    }
        %>

        <%= f.submit "Proceed to goals", class: "btn btn-primary btn-block gradient" %>
      <% end %>
      <%= link_to "back to bio", onboarding_bios_path, class: "onboarding-link" %>
    </div>
  </div>
</div>
